* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	padding-top: 50px;
	background-color: #bbb;
}

.light-text {
	color: #bbb;
	font-size: 80%;
	font-weight: lighter;
}

.main-cont {
	background-color: white;
	border-radius: 15px;
}

.pad-top {
	padding-top: 10px;
}

.pad-bot {
	padding-bottom: 15px;
}

.horiz-sep {
	border-left: 3px solid #42C3C9;
}

.flash-hidden {
	height: 34px;
	background-color: #bbb;
	color: #bbb;
	width:100%;
	text-decoration: none;
}

 .strong-show {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

.hid-div {
	height: 28px;
 }

ul {
	list-style-type: none;
	padding-left: 0px;
}

.btn-user {
	display: inline-block;
	color: #999;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none
	}

.btn-user:hover {
	border-color: none;
}

.btn-user.add {
	background-color: transparent;
	padding: 6px 12px 0px 0px;
}

.btn-user.add:hover {
	color: #42C3C9;
}

.h2-main {
	margin-top: 0px;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	margin-top: 10px;
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

.btn:hover {
	border-color: #9FB80A;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}

.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.glyphicon {
	margin-right: 10px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}