{% extends "main.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
	<div class = 'flash'>   
        <ul>
        {% for message in messages %}
            <li> <strong class="strong-show"> {{ message }} </strong> </li>
        {% endfor %}
		</ul>
	{% else %}
	<div class = 'flash-hidden'>
        {% endif %}
    {% endwith %}

	</div>
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row main-cont">
				<div class="col-md-3 pad-bot">
					<div class="row">
						<div class="col-md-12">
							<div class="hid-div"></div>
						</div>
					</div>
					<h2 class="h2-main">Category</h2>
					<ul>
			{% for category in categories %}
						<li>
							<a href="{{url_for('itemsList', category_Name=category.name)}}">
								<h3>{{category.name}}</h3>
							</a>
						</li>
			{% endfor %}
				</div>
				<div class="col-md-9 horiz-sep pad-bot">
					<div class="row">
						<div class="col-md-12">

							<div class="hid-div"></div>
							
						</div>
					</div>
					<h2 class="h2-main">Items</h2>
					<ul>
			{% for item in items %}
						<li>
							<a href="{{url_for('homePage')}}">
								<h3>{{item.name}}</h3>
							</a>
						</li>
			{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}
