{% extends "main.html" %}
{% block content %}

	      {% with messages = get_flashed_messages() %}
      {% if messages %}
	<div class = 'flash'>   
        <ul>
        {% for message in messages %}
            <li> <strong class="strong-show"> {{ message }} </strong> </li>
        {% endfor %}
		</ul>
	{% else %}
	<div class = 'flash-hidden'>
		<ul>
            <li><strong class="strong-hidden">X</strong></li>
		</ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12 pad-top">
					<button class="btn btn-default btn-hidden">
						<span aria-hidden="true">X</span>
					</button>
				</div>
			</div>
			<h2>Category</h2>
			<ul>
	{% for category in categories %}
				<li>
					<a href="{{url_for('itemsList', category_Name=category.name)}}">
						<h3>{{category.name}}</h3>
					</a>
				</li>
	{% endfor %}
		</div>
		<div class="col-md-8 horiz-sep">
			<div class="row">
				<div class="col-md-12 pad-top">
					<button class="btn btn-default btn-hidden">
						<span aria-hidden="true">X</span>
					</button>
				</div>
			</div>
			<h2>Items</h2>
			<ul>
	{% for item in items %}
				<li>
					<a href="{{url_for('homePage')}}">
						<h3>{{item.name}}</h3>
					</a>
				</li>
	{% endfor %}
		</div>
	</div>
{% endblock %}
