{% extends "main.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
	<div class = 'flash'>   
        <ul>
        {% for message in messages %}
            <li> <strong class="strong-show"> {{ message }} </strong> </li>
        {% endfor %}
		</ul>
	{% else %}
	<div class = 'flash-hidden'>
        {% endif %}
    {% endwith %}

	</div>
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row main-cont">
				<div class="col-md-12 pad-bot pad-top">
                    <h2 class="h2-main">{{item.name}}</h2>
                    <p>{{item.description}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}
